# VWO Login Credentials
# Copy this file to .env and fill in your own credentials
VWO_USERNAME=your-email@example.com
VWO_PASSWORD=your-password

# https://awesomeqa.com/ Login Credentials
# Copy this file to .env and fill in your own credentials
ORANGE_USERNAME=user
ORANGE_PASSWORD=password
